/* DVD */

body {
  overflow: hidden;
  background-color: var(--bgColor);
  transition: background-color 200ms;
}
#dvd {
  position: absolute;
  fill: var(--color);
  transition: fill 200ms;
  width: 25vw;
}

/* Checkbox */

#color {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: opacity 200ms;
}
#color:hover {
  opacity: 1;
}